.sidebar {
    position: relative;
    margin: 0 auto;
    padding: 46px 20px 10px;
    width: 65px;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 15px;

    background-color: var(--background-color);
    outline: 2px solid var(--border-color);
    outline-offset: -6px;

    transition: width 0.5s ease-in-out;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
    min-width: 35px;

    font-size: 18px;
    font-weight: 500;
    color: var(--logo-color);

    transform: translateX(-8px);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.sidebar__button {
    position: absolute;
    top: 7.5%;
    right: -35px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    transform: translateX(0) rotate(0);
    transition: transform 0.5s ease;
}

.sidebar__nav-list {
    margin-bottom: 190px;
}

.sidebar__nav-item,
.sidebar__user-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    padding: 6px 10px;
    border-radius: 10px;
    min-width: 16px;
    
    cursor: pointer;
    font-weight: 500;

    transform: translateX(-8px);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;

    &:hover {
        color: var(--hover-text-color);
        background-color: var(--hover-background-color);
    }

    &:focus, &:active {
        color: var(--active-text-color);
        background-color: var(--active-background-color);
        outline: none;
    }
}

.sidebar__title {
    transform: translateX(150px);
    opacity: 0;

    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.opened {
    width: 200px;

    .sidebar__logo,
    .sidebar__nav-item,
    .sidebar__user-item {
        transform: translateX(0);
    }
    
    .sidebar__title {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .sidebar__button {
        transform: translateX(-24px) rotate(-180deg);
        background-color: var(--button-opened-background-color);
        clip-path: polygon( 40% 0, 100% 0, 100% 100%, 40% 100%);
    }
}